<%- include("partials/header") %>

<link rel="stylesheet" type="text/css" href="/stylesheets/blogs.css">

<header class="jumbotron">
	<h1>Welcome to the blog page!</h1>
	<p> Hi, I'm Sean and this is the first serious page I've made. This page was made using Express in Node and a few other packages as well. Enough of that though, this is an actual blog page, so go ahead and post something!</p>
	<a class="btn btn-primary" href="/blogs/new">Create a blog</a>
</header>

<div class="container">
	<div class="row">
		<% blogs.forEach( (blog)=>{ %>
			<div class="card">
			  <img src="<%=blog.image%>" class="card-img-top">
			  <div class="card-body">
				<h5 class="card-title"> <%=blog.title%>
				</h5>
				<p class="card-text"> <%-blog.content.substring(0,100)%>...</p>
				<a href="/blogs/<%=blog._id%>" class="btn btn-primary">Read More</a>
				<span class="card-text float-right" id="subtext"> <%=blog.published.toDateString()%> </span>
			  </div>
			</div>
		<% }); %>
	</div>
</div>
	

<%- include("partials/footer") %>