<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/show.css">

<div class="container border rounded">
	<h1><%=blog.title%></h1>
	<span id="subtext">by <%=blog.author%> on <%=blog.published.toDateString()%></span>
	<hr>
	<p><%-blog.content%></p>
</div>

<div class="container">
	<a class="btn btn-success" href="/blogs/<%=blog._id%>/edit">Edit</a>
	<form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST" id="delete">
			<button type="submit" class="btn btn-danger">Delete</button>
	</form>
</div>

<%- include("partials/footer") %>